input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  .scroll{
  white-space: nowrap;　　/*tableのセル内にある文字の折り返しを禁止*/
  }

  .sticky_table thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
  }

  .sticky_table th:first-child {
    /* 横スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }

  .sticky_table thead th:first-child {
    /* ヘッダー行内の他のセルより手前に表示する */
    z-index: 3;
  }

  tbody tr th{
    background-color: white;
    font-size: small;
  }

